@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body{
    margin-top: 250px;
    background: rgb(67,1,92);
    background: linear-gradient(90deg, rgba(67,1,92,1) 0%, rgba(100,0,107,1) 38%, rgba(84,222,254,1) 100%);
}
.calculator {
   
    padding: 10px;
    border-radius: 1em;
    width: 400px;
    height: 500px;
    margin: auto;
    background-color: #47d3f3;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid rgb(255, 255, 255) 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

#textbox{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
}
.buttons{
    display: grid;
    grid-template-columns: 10fr 10fr 10r 10fr;
    grid: 100px 100px 100px 100px 100px/ auto auto auto auto;
    margin: 10px;
    column-gap: 2px;
}   
h1{
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-weight: lighter;
    text-align: center;
}
#btn {
    background-color:  #43015c;
}
input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #a801b4;
    color: white;
    border: solid rgb(255, 255, 255) 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
    
    
}
input:active[type=button] {
    background: #e5e5e597;
   
    box-shadow: inset 0px 0px 5px #c1c1c1be;
}
input[type=button]:hover{
    box-shadow: 2px 2px 7px rgb(255, 255, 255);
}